.nav-bar {
    border-bottom: 2px solid red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-list li+li {
    margin-left: 50px;
}
.nav-link {
    color: tomato;
    font-size: larger;
    text-decoration: none;
}
.nav-link.active {
    color: red;
    font-weight: bold;
}